.display-col {
  padding: 30px 0;
  border: 1px solid grey;
  background-color: rgb(218, 241, 241);
  text-align: center;
}

.comic-container {
  margin-left: 0;
}

.comic-column {
  flex: 0;
  flex-basis: 0;
  margin-right: 6%;
}

.vault-title-con {
  display:flex; 
  width:100%; 
  padding-right: 16px;
}

.settingsIcon {
  font-size: 35px;
  color: black;
  position: absolute;
  margin-top: 20px;
}

.settingsIcon:hover {
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
}

.comic-row {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.comic-box {
  width: 150px;
}

.action-btn {
  width: 120px;
  height: 40px;
  padding: 9px 12px;
  border-color: black;
}

.read-title {
  width: 100%;
}

.read-btn {
  padding-top: 7px;
  padding-right: 20px;
}

.action-btn:hover {
  box-shadow: none;
}

.read-comic-container {
  display: flex;
}

/* Desktop View */
@media screen and (min-width: 950px) {
  .comic-column {
    flex: 0;
    flex-basis: 0;
    margin-right: 5%;
  }

  .comic-container {
    margin-left: 35px;
  }

  .comic-box {
    width: 200px;
  }

  .read-btn {
    padding-top: 7px;
    padding-right: 7%;
  }
}